.cart-items{
    margin-left: 5px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
}
.choose-btn{
    left: 30px;
    background-color: burlywood;
    padding: 7px 8px;
    border-radius: 5px;
    margin-left: 5px;
}
